In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [41]:
df=pd.read_csv("train_movie.csv")
data=pd.read_csv("test_movie.csv")

In [42]:
df.shape

(3000, 23)

In [43]:
data.shape

(4398, 22)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
id                       3000 non-null int64
belongs_to_collection    604 non-null object
budget                   3000 non-null int64
genres                   2993 non-null object
homepage                 946 non-null object
imdb_id                  3000 non-null object
original_language        3000 non-null object
original_title           3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
poster_path              2999 non-null object
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  2998 non-null float64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.1+ KB

In [45]:
df.describe()

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.253133e+07     8.463274   107.856571  6.672585e+07
std     866.169729  3.702609e+07    12.104000    22.086434  1.375323e+08
min       1.000000  0.000000e+00     0.000001     0.000000  1.000000e+00
25%     750.750000  0.000000e+00     4.018053    94.000000  2.379808e+06
50%    1500.500000  8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4398 entries, 0 to 4397
Data columns (total 22 columns):
id                       4398 non-null int64
belongs_to_collection    877 non-null object
budget                   4398 non-null int64
genres                   4382 non-null object
homepage                 1420 non-null object
imdb_id                  4398 non-null object
original_language        4398 non-null object
original_title           4398 non-null object
overview                 4384 non-null object
popularity               4398 non-null float64
poster_path              4397 non-null object
production_companies     4140 non-null object
production_countries     4296 non-null object
release_date             4397 non-null object
runtime                  4394 non-null float64
spoken_languages         4356 non-null object
status                   4396 non-null object
tagline                  3535 non-null object
title                    4395 non-null object
Keywords                 4005 non-null object
cast                     4385 non-null object
crew                     4376 non-null object
dtypes: float64(2), int64(2), object(18)
memory usage: 756.0+ KB

In [47]:
y=df.pop('revenue')
y.head()

0    12314651
1    95149435
2    13092000
3    16000000
4     3923970
Name: revenue, dtype: int64

In [48]:
numeric_variables=list(df.dtypes[df.dtypes != 'object'].index)
df[numeric_variables].tail()

        id    budget  popularity  runtime
2995  2996         0    9.853270    102.0
2996  2997         0    3.727996    102.0
2997  2998  65000000   14.482345    120.0
2998  2999  42000000   15.725542     90.0
2999  3000  35000000   10.512109    106.0

In [49]:
for column in numeric_variables:
    df[column]=df[column].replace(0,np.NaN)
    mean=int(df[column].mean(skipna=True))
    df[column]=df[column].replace(np.NaN,mean)

In [50]:
df[numeric_variables].head()

   id      budget  popularity  runtime
0   1  14000000.0    6.575393     93.0
1   2  40000000.0    8.248895    113.0
2   3   3300000.0   64.299990    105.0
3   4   1200000.0    3.174936    122.0
4   5  30893054.0    1.148070    118.0

In [51]:
df[numeric_variables].tail()

        id      budget  popularity  runtime
2995  2996  30893054.0    9.853270    102.0
2996  2997  30893054.0    3.727996    102.0
2997  2998  65000000.0   14.482345    120.0
2998  2999  42000000.0   15.725542     90.0
2999  3000  35000000.0   10.512109    106.0

In [52]:
model=RandomForestClassifier()
model.fit(df[numeric_variables],y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [53]:
print("Train Accuracy:",accuracy_score(y,model.predict(df[numeric_variables])))

Train Accuracy: 0.9966666666666667

In [54]:
data[numeric_variables].head()

     id   budget  popularity  runtime
0  3001        0    3.851534     90.0
1  3002    88000    3.559789     65.0
2  3003        0    8.085194    100.0
3  3004  6800000    8.596012    130.0
4  3005  2000000    3.217680     92.0

In [55]:
for column in numeric_variables:
    data[column]=data[column].replace(0,np.NaN)
    mean=int(data[column].mean(skipna=True))
    data[column]=data[column].replace(np.NaN,mean)

In [56]:
data=data[numeric_variables].fillna(data.mean()).copy()

In [57]:
y_pred=model.predict(data[numeric_variables])

In [58]:
y_pred

array([171963386,   1000000,  82087155, ...,  82087155,  82087155,
        82087155], dtype=int64)

In [59]:
submission=pd.DataFrame({
    "id":data["id"],
    "revenue":y_pred
})
submission.to_csv("movies_submission.csv",index=False)